<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.2/phpunit.xsd"
         backupGlobals="true"
         bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Acceptance TestSuite">
      <directory>src/test/acceptance</directory>
    </testsuite>
    <testsuite name="Functional TestSuite">
      <directory>src/test/functional</directory>
    </testsuite>
    <testsuite name="Unit TestSuite">
      <directory>src/test/unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
