* {
  margin: 0;
  padding: 0;
}

html {
  font: 80% Arial, Helvetica, sans;
  color: #333;
}

div#appWrapper {
  width: 940px;
  margin: 10px auto;
}

nav#appMenu {
  margin: 5px 0px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav#appMenu > * {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 0px 10px;
  color: #f3f3f3;
  text-decoration: none;
}

nav#appMenu > *:first-child {
  margin-left: 0px;
}

nav#appMenu * {
  background-color: rgb(255, 190, 200);
  line-height: 20px;
}

nav#appMenu *:not(:first-child):before,
nav#appMenu *:after {
  content: "";
  position: absolute;
  top: 0;
}

nav#appMenu *:not(:first-child):before {
  left: -20px;
  border-left: 20px solid transparent;
  border-top: 20px solid rgb(255, 190, 200);
  border-bottom: 20px solid rgb(255, 190, 200);
}

nav#appMenu *:after {
  right: -20px;
  border-left: 20px solid rgb(255, 190, 200);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

nav#appMenu #appMenuSelected {
  color: #fff;
  background-color: rgb(0, 190, 255);
}

nav#appMenu #appMenuSelected:not(:first-child):before {
  border-top-color: rgb(0, 190, 255);
  border-bottom-color: rgb(0, 190, 255);
}

nav#appMenu #appMenuSelected:after {
  border-left-color: rgb(0, 190, 255);
}

section#appContent {
  color: #f3f3f3;
  background-color: #333;
  padding: 30px 45px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

section#appContent header {
  margin-bottom: 30px;
}

section#appContent footer {
  font-size: x-small;
  text-align: right;
  margin-top: 30px;
}

section#appContent .appContentTitle {
  font-size: x-large;
  letter-spacing: 1px;
}

section#appContent .appContentInfo {
  padding-top: 10px;
}

section#appContent .appContentData {
  color: #333;
  background-color: #f3f3f3;
  padding: 30px 35px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

section#appContent .appContentData label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  position: relative;
}

section#appContent .appContentData label.required:after {
  content: "*";
  position: absolute;
  color: #CF0000;
  font-weight: bold;
}

section#appContent .appContentData span {
  display: block;
  margin-bottom: 15px;
}

section#appContent .appContentData input,
section#appContent .appContentData select,
section#appContent .appContentData textarea {
  display: block;
  margin-bottom: 15px;
  padding: 3px 5px;
}

section#appContent .appContentData textarea {
  width: 98%;
  min-height: 200px;
}

section#appContent .appContentData pre {
  padding: 20px 25px;
  border: 1px solid #999;
}

section#appContent .appContentButton {
  padding: 11px 32px;
  border: solid 1px #004F72;
  font-weight: bold;
  color: #E5FFFF;
  background-color:#3BA4C7;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  cursor: hand;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0);
  background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);

  -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
  box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

section#appContent .appContentButton:active {
  background-image: -moz-linear-gradient(bottom, #3BA4C7 0%, #1982A5 100%);
  background-image: -webkit-linear-gradient(bottom, #3BA4C7 0%, #1982A5 100%);
  background-image: -o-linear-gradient(bottom, #3BA4C7 0%, #1982A5 100%);
  background-image: -ms-linear-gradient(bottom, #3BA4C7 0% ,#1982A5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#1982A5', startColorstr='#1982A5',GradientType=0);
  background-image: linear-gradient(bottom, #3BA4C7 0% ,#1982A5 100%);
}
