<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.2/phpunit.xsd"
         backupGlobals="true"
         bootstrap="src/Autoload.php">
  <testsuites>
    <testsuite name="PHPGeneticAlgorithmTestSuite">
      <directory>tests/IndividualDAOTest.php</directory>
    </testsuite>
  </testsuites>
</phpunit>
